body {
  margin-top: 0;
}

#main {
  background: #F8F8FF;
  margin: auto;
  width: 720px;
  min-height: 100vh;
}
.check{
font-size: 16px;
  font-family: 'Carrois Gothic', sans-serif;
  padding:12px 0 0 0;
}

#logo {
  display: inline-block;
  margin: 0px auto;
  margin-left: 20px;
  width: 300px;
  height: 120px;
}

button.digramm{
  background: linear-gradient(#F3F8F3,#E0EEE0);
    color: #004E63;
    border: none;
    width: 250px;
    height: 34px;
    /* display: inline-block; */
    /* position: absolute; */
    padding: 6px 20px;
    border: 1px solid #C9DDC9;
    border-radius: 15px;
    color: #004E63;
    font-weight: normal;
    font-size: 10px !important;
    /* width: 23%; */
    /* margin: 19px 16px; */
    margin-right: 3px;
    margin-left: 230px;
    height: 26px;
    float: inherit;
    background-color: #E0EEE0;
    cursor: pointer;
    outline: none;
}

}
h1 {
  margin: 1em 0 0.75em;
  padding: 0 0 5px 0;
  color: #004E63;
  font-weight: normal;
  font-size: 25px;
  font-family: 'Carrois Gothic', sans-serif;
  text-align: center;
}

h2{
  margin: 0 0 0 69px;
  padding: 0 0 5px 0;
  color: #004E63;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Carrois Gothic', sans-serif;
}

ul{
  padding: 0;
  margin-left: 0px;
  display: inline-block;
  vertical-align: top;
}

li{
  list-style-type: none;
}

#auditor_Form {
  margin-left: 190px;
}

.list{
  width: 130px;
  padding: 5px 10px 0;
  margin: 6px;
  background: #FEFEFE;
  border: 1px solid #1F6A7F;
  border-radius: 4px;
  font: 14px/18px Arial, Tahoma, sans-serif;
  vertical-align: middle;
  color: #004E63;
}

.exit a{
 color: #004E63;
 font-style: italic;
}

hr {
  background-color: #004E63;
  height: 1px;
  border: none;
  margin:0;
}
button {
  background: linear-gradient(#F3F8F3,#E0EEE0);
  color: #004E63;
  border: none;
  width: 150px;
  height: 34px;
  /* display: inline-block; */
  /* position: absolute; */
  padding: 6px 20px;
  border: 1px solid #C9DDC9;
  border-radius: 15px;
  color: #004E63;
  font-weight: normal;
  font-size: 23px;
  width: 23%;
  /* margin: 19px 16px; */
  margin-right: 3px;
  height: 48px;
  float: inherit;
  background-color: #E0EEE0;
  cursor: pointer;
  outline: none;
}

.line_button {
 margin-top: 30px;
  margin-left: auto;
  /* display: inline; */
  margin-left: 31px;}

#icon {
  width: 36px;
}

#username {
  vertical-align: super;
  color: #004E63;
  font-weight: normal;
  font-size: 25px;
  font-family: 'Carrois Gothic', sans-serif;
}

#corpus {
  vertical-align: super;
  color: #004E63;
  font-weight: normal;
  font-size: 25px;
  font-family: 'Carrois Gothic', sans-serif;
}

#authorized {
  display: inline-block;
  position: relative;
  left: 192px;
  bottom: 20px;
}

.refer {
  text-decoration: none !important;
}

/* аудитории*/
#blocks{
  margin: 40px 0 0 25px;
}
/* аудитории*/
#search{
  margin: 5px 0 10px 0px;
  display: block;
  border-radius: 4px;
  font: 12px Arial, Tahoma, sans-serif;
  color: #444;
  width: 262px;
  padding: 9px 13px;
  border: 1px solid #1F6A7F;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px #C3DEE6, 0 0 0 4px #F9FFF9;
  outline: none;
  font: 14px/18px Arial, Tahoma, sans-serif;
}
/* аудитории*/
#blocks button{
  width: 288px;
  padding: 9px 13px;
  background: #FEFEFE;
  border: 1px solid #1F6A7F;
  border-radius: 4px;
  font: 16px/18px Arial, Tahoma, sans-serif;
  vertical-align: middle;
  height: 35px;
  cursor: pointer;
  background: linear-gradient(#F3F8F3,#E0EEE0);
  color: #004E63;
  font-weight: normal;
  display: block;

}
/* чек*/
#but_save{
  width: 140px;
  padding: 9px 13px;
  background: #FEFEFE;
  border: 1px solid #1F6A7F;
  border-radius: 4px;
  font: 16px/18px Arial, Tahoma, sans-serif;
  vertical-align: middle;
  height: 35px;
  cursor: pointer;
  background: linear-gradient(#F3F8F3,#E0EEE0);
  color: #004E63;
  font-weight: normal;
  display: block;
  margin: 20px 0 0px 35px;
}

}

#menu {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: Georgia;
  }
#menu li {
  list-style: none;
  float: left;
  height: 40px;
  padding: 0;
  margin: 0;
  width: 240px;
  text-align: center;
  background: #004E63;
  position: relative;
  padding-top: 12px;
  }
#menu li ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 240px;
  display: none;
  position: absolute;
  left: 0;
  top: 51px;
  }
#menu li ul li {
  float: none;
  height: 50px;
  margin: 0;
  width: 240px;
  text-align: center;
  background: #2E6E7F;
  }

li.active {
  background: #C2DCC2 !important;
}

li.active {
  color: #004E63 !important;
}

.dop {
  color: #E0EEE0 !important;
}

#menu li  {
  display: block;
  width: 240px;
  height: 33px;
  color: #E0EEE0;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  }

#menu li:hover ul, #menu li.jshover ul {
  display: block;
  }

#menu li:hover, #menu li.jshover {
  background: #C2DCC2;
  color: #004E63;
  }


/*чек*/
#check {
   margin: 60px 0 0px 0;
}


/* чек */
.check2{
  margin: 20px 0 0px 35px;
  display: block;
}
/*чек*/
.check2_1{
  margin: 8px;
  display: block;
}
/*чек*/
.check2_num {
  margin: 5px 0 10px 0px;
  display: block;
  border-radius: 4px;
  font: 12px Arial, Tahoma, sans-serif;
  color: #444;
  width: 262px;
  height:27px;
  border: 1px solid #1F6A7F;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px #C3DEE6, 0 0 0 4px #F9FFF9;
  outline: none;
  font: 14px/18px Arial, Tahoma, sans-serif;

}
/*чек*/
.check2_num_{
  margin: 5px 0 10px 0px;
  display: block;
  border-radius: 4px;
  font: 12px Arial, Tahoma, sans-serif;
  color: #444;
  width: 200px;
  height:18px;
  border: 1px solid #1F6A7F;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px #C3DEE6, 0 0 0 4px #F9FFF9;
  outline: none;
  font: 14px/18px Arial, Tahoma, sans-serif;
}
/*чек*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
     margin: 0px;
    -webkit-appearance: none;

        }
/*чек*/
.label{
  margin: 0 0 0 0px;
  padding: 0 0 5px 0;
  color: #004E63;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Carrois Gothic', sans-serif;
}
/*чек*/
.label_{
  margin: 0 0 0 0px;
  padding: 0 0 5px 0;
  color: #004E63;
  font-weight: normal;
  font-size: 13px;
  font-family: 'Carrois Gothic', sans-serif;

}
/*чек*/
.radio_col{
   display: block;
}
/*чек*/
.icon {
  display: inline-block;
  position: relative;
  margin:0 0 0 10px;
  border-radius: 70px;
  background: #004E63;
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 55px;
  height: 24px;
  overflow: hidden;
  content: "Нет";
}
/*чек*/
.icon .handle {
  width: 24px;
  height: 24px;
  border-radius: 10px;
  position: absolute;
  background: #FFF;
  font-size: 14px;
  line-height: 22px;

}
/*чек*/
.icon .handle:before {
  -webkit-font-smoothing: antialiased;

}
/*чек*/
.icon .handle:after {
  content: "Есть";
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -28px;
}
/*чек*/
.icon.on {
  background: #004E63;

}
/*чек*/
  .icon.on .handle {
  left: 32px;
}

#title {
  text-align: center;
  color: #004E63;
  font-weight: normal;
  font-size: 23px;
  font-family: 'Carrois Gothic', sans-serif;
  margin-top: 23px;
}

.instruction {
  text-align: center;
  color: #004E63;
  font-weight: normal;
  font-size: 23px;
  font-family: 'Carrois Gothic', sans-serif;
  margin-top: 23px;
}

div.back {
  display: inline-block;
  position: relative;
  top: 19px;
  left: 25px;
}
